header{
	height: 200px;
	background-color: rgb(197, 99, 54);
}
aside{
	width: 20%;
	background-color: rgb(233, 121, 29);
	float: right;
}
section{
	width: 80%;
	background-color: rgb(233, 121, 29);
	float: right;
}
footer{
	height: 100px;
	background-color: rgb(28, 150, 231);
	clear: both;
}
.post{
	text-align: center;
	padding: 10px;
	float: left;
}