@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Limelight&display=swap');
body,ul{
    margin: 0px;
}

header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
nav{
    background-color: rgba(241, 135, 13, 0.918);
}
nav ul{
    display: flex;
    justify-content: right;
}
nav li{
    list-style-type: none;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav a:hover{
    background-color:cyan;
    color: rgb(179, 87, 87);
    transition: background-color 1s linear, color 1s ease-in;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(236, 165, 11, 0.8);
}
.title{
    text-align: center;
    font-family: 'Limelight', cursive;
}
#photolist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}
#photolist li{
    list-style-type: none;
    margin: 10px;
}
#photolist img{
    border-radius: 10%;
    box-shadow: 5px 5px 10px gray;
}
#photolist .emptyitem{
    width: 200px;

}
.gotop{
    font-size: 60px;
    color: maroon;
    position: fixed;
    right: 10px;
    bottom: 10px;
}